:root {
  --bg-color: #181818;
  --div-color: #212121;
  --menu-color: #2E2E2E;
  --text-color: #F5F5F5;
  --invert: 100%;
}

.light-mode {
  --bg-color: #FFFFFF;
  --div-color: #F5F5F5;
  --menu-color: #E0E0E0;
  --text-color: #181818;
  --invert: 0%;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--div-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav img {
  height: 5vh;
  filter: invert(var(--invert));
  margin-left: 5px;
  transition: filter 0.3s;
}

nav h1 {
  color: var(--text-color);
  margin: 5px;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

nav button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 3vh;
  margin: 5px;
}

nav button img {
  height: 3vh;
  filter: invert(var(--invert));
  transition: filter 0.3s;
}

#followed {
  display: flex;
  float: left;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--div-color);
  height: 100vh;
  transition: background-color 0.3s;
}

#followed ul {
  list-style-type: none;
  padding: 0px;
}

#followed ul li {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#followed ul li a {
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#followed p {
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
  margin-left: 5px;
  margin-right: 5px;
}

#search {
  display: flex;
  float: right;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  align-items: start;
  background-color: var(--div-color);
  height: 100vh;
  transition: background-color 0.3s;
}

#search input {
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

#create {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--div-color);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 5px;
  transition: background-color 0.3s;
}

#create h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#create textarea {
  background-color: var(--bg-color);
  border-radius: 5px;
  border-color: var(--bg-color);
  color: var(--text-color);
  resize: none;
  margin-bottom: 10px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

#create button {
  background-color: #1B75D0;
  color: #F5F5F5;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 5vw;
  height: 2vh;
}

#posts {
  display: flex;
  background-color: var(--div-color);
  border-radius: 5px;
  margin-top: 5px;
  justify-content: center;
  transition: background-color 0.3s;
}

#posts p {
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#menu {
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  top: 6vh;
  right: 2vw;
  background-color: var(--menu-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

#menu h3 {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.mode {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mode p {
  margin-right: 5px;
  margin-left: 5px;
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#modeB {
  border: none;
  background-color: transparent;
}

#modeB img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3;
}

#icon-sun {
  opacity: 1;
}

#icon-moon {
  opacity: 0;
}

.light-mode #icon-sun {
  opacity: 0;
}

.light-mode #icon-moon {
  opacity: 1;
}

.logout {
  display: flex;
  justify-content: center;
}

.logout button {
  margin-bottom: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border-radius: 5px;
  border: none;
}
