<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>palm-trees</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <nav class="navBar">
      <img src="/static/favicon-192x192.png">
      <h1>palm-trees</h1>
      <button id="settings">
        <img src="/static/settings.png">
      </button>
    </nav>

    <div id="followed">
      <!--
      <ul>
        <li>
          <a>Unground</a>
        </li>
      </ul>
      -->
      <p>your followers will<br>be listed here!</p>
    </div>

    <div id="create">
      <h3>your post</h3>
      <textarea></textarea>
      <button>Post</button>
    </div>

    <div id="posts">
      <!--
      <div id="post1">
        <p>test1</p>
      </div>
      -->
      <p>posts will be listed here!</p>
    </div>
  </body>
</html>
