:root {
  --bg-color: #181818;
  --div-color: #212121;
  --text-color: #F5F5F5;
  --invert: 100%;
}

.light-mode {
  --bg-color: #FFFFFF;
  --div-color: #F5F5F5;
  --text-color: #181818;
  --invert: 0%;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--div-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav img {
  height: 5vh;
  filter: invert(var(--invert));
  margin-left: 5px;
}

nav h1 {
  color: var(--text-color);
  margin: 5px;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

nav button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 3vh;
  margin: 5px;
}

nav button img {
  height: 3vh;
  filter: invert(var(--invert));
}

#followed {
  display: flex;
  float: left;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--div-color);
  height: 100vh;
  transition: background-color 0.3s;
}

#followed ul {
  list-style-type: none;
  padding: 0px;
}

#followed ul li {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#followed ul li a {
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#followed p {
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#create {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--div-color);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  transition: background-color 0.3s;
}

#create h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--text-color);
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  transition: color 0.3s;
}

#create textarea {
  background-color: var(--bg-color);
  border-radius: 5px;
  border-color: var(--bg-color);
  resize: none;
  margin-bottom: 10px;
}

#create button {
  background-color: #1B75D0;
  color: #F5F5F5;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 5vw;
  height: 2vh;
}

#posts {
  display: flex;
  background-color: var(--div-color);
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  justify-content: center;
  transition: background-color 0.3s;
}

#posts p {
  color: #F5F5F5;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
